.newNote{
          background: #B4F8C8;
}

textarea{
          max-width: 100%;
          flex: 1;
          border: none;
          outline: none;
          resize: none;
          background: transparent;
          font-size: 15px;
          font-family: Arial, Helvetica, sans-serif;
          height: auto;
}