@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after{
          margin: 0;
          padding: 0;
          list-style: none;
          box-sizing: border-box;
          text-decoration: none;
}

body{
          padding: 5%;
          font-family: 'Roboto', sans-serif;
}

.container {
          display: flex;
          flex-direction: column;
          gap: 40px;
}

button{
          cursor: pointer;
}